body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; 
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right,   #8DC63F, #8BC34A);
    color: #ffffff;
    padding:  30px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    position: relative;
}
h2{
    color: #45a049;
}

header h1 {
    margin: 0;
    font-size: 2.5em; 
}

nav {
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-size: 1.1em;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}


nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #4CAF50; 
    transition: width 0.4s ease, left 0.4s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

nav a:hover {
    color: #4CAF50; 
}

.edit-recipe-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid   #8DC63F;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="number"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid  #8DC63F;
    border-radius: 5px;
    font-size: 16px;
}
input[type="text"]:focus, 
input[type="email"]:focus,
input[type="file"]:focus, 
input[type="number"]:focus,
textarea:focus {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
    }

.current-recipe-image {
    width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.submit-button {
    background-color: #8DC63F;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.submit-button:hover {
    background-color: #2d7038;
    transform: translateY(-2px);
}
footer {
    background: linear-gradient(to right,  #8DC63F, #8BC34A); 
    color: #ffffff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

footer p {
    margin: 0;
    font-size: 17px;
}

footer::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%;
    height: 10px;
    background: url('wave-pattern.svg') repeat-x; 
}