body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2; /* Couleur de fond neutre */
}
header {
    background: linear-gradient(to right, #4CAF50, #8BC34A); /* Dégradé de vert */
    color: #ffffff;
    padding:  30px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre douce */
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: url('wave-pattern.svg') repeat-x; /* Utilisation d'un motif pour un effet de vague */
}
nav {
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-size: 1.1em;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}


nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #FFD54F; /* Ligne dorée en dessous */
    transition: width 0.4s ease, left 0.4s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

nav a:hover {
    color: #FFD54F; /* Couleur dorée au survol */
}



/* Style pour le formulaire d'ajout de recette */
.add-recipe-form {
    max-width: 700px;
    margin: 30px auto;
    background-color: #f9f9f9; /* Couleur de fond légèrement plus claire */
    padding: 25px;
    border: 2px solid #4CAF50; /* Bordure plus épaisse */
    border-radius: 10px; /* Bordure plus arrondie */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre pour le formulaire */
}

.form-group {
    margin-bottom: 20px; /* Espacement augmenté */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
    font-size: 1.1em; /* Augmentation de la taille de la police */
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 95%;
    padding: 12px; /* Taille de la marge */
    border: 2px solid #4CAF50; /* Bordure verte par défaut */
    border-radius: 5px;
    font-size: 16px;
}


input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
textarea:focus{
    border-color: #FFD54F; /* Changement de couleur au focus */
    outline: none;
}

label{
    color: #333;
    font-size: 17px;
}


.submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 12px 20px; /* Augmentation de la taille de la marge */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s; /* Transition pour l'effet de survol */
}

.submit-button:hover {
    background-color: #207533; /* Couleur au survol */
    transform: translateY(-2px); /* Légère translation vers le haut */
}

/* Style pour le footer */
footer {
    background: linear-gradient(to right, #4CAF50, #8BC34A); /* Dégradé de vert */
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Ombre douce inversée */
    position: relative;
}

footer p {
    margin: 0;
    font-size: 17px;
}

footer::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px; /* Positionnement du motif juste au-dessus du footer */
    left: 0;
    width: 100%;
    height: 10px;
    background: url('wave-pattern.svg') repeat-x; /* Utilisation du motif de vague */
}





