body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2; /* Couleur de fond neutre */
}
header {
    background: linear-gradient(to right, #4CAF50, #8BC34A); /* Dégradé de vert */
    color: #ffffff;
    padding:  30px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre douce */
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: url('wave-pattern.svg') repeat-x; /* Utilisation d'un motif pour un effet de vague */
}
nav {
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-size: 1.1em;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}


nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #FFD54F; /* Ligne dorée en dessous */
    transition: width 0.4s ease, left 0.4s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

nav a:hover {
    color: #FFD54F; /* Couleur dorée au survol */
}
.register-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-color: #4CAF50;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-color: #4CAF50;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border-color: #FFD54F; /* Changement de couleur au focus */
    outline: none;
}
.submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.submit-button:hover {
    background-color: #1c5e2a;
    transform: translateY(-2px);
}

.login-link {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.login-link a {
    color:#4CAF50;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
footer {
    background: linear-gradient(to right, #4CAF50, #8BC34A);
    color: #ffffff;
    text-align: center; /* Garder le footer centré */
    padding: 15px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

